$progress-bar-height: 4px;
.c-progress-bar{
  background-color: var(--yellow---yellow-400--p);
  height: $progress-bar-height;
  &__container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: var(--space--smd);
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: none;
    flex-grow: 1;
    background: var(--gray---gray-200);
    border-radius:var(--coner--xs);
    height: $progress-bar-height;

  }
  &__label{
    font: var(--desktop---x-samll-medium);
    color: var(--gray---gray-500);
  }
}
