.c-banner-list{
  display: flex;
  flex-direction: column;
  flex: none;
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  gap: var(--space--sm);

}

.c-banner{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--space--xs) var(--space--md);
  gap: var(--space--sm);
  border: 1px solid var(--gray---gray-200);
  background-color: var(--gray---gray-100);
  border-radius: var(--coner--sm);
  align-self: stretch;
  box-sizing: border-box;
  @include respond-to('x-small') {
    flex-direction: column;
    align-items: flex-start;

  }

  @include respond-to(small) {

    flex-direction: column;
    align-items: flex-start;
  }

  @include respond-to(medium) {

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
  }

  @include respond-to(large) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;

  }
  @include respond-to(x-large) {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;

  }
  &__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: var(--space--sm);
    flex: none;
    order: 0;
    flex-grow: 1;

  }
  &__icon{
    font-size: 2.4rem;
    grid-area: icon;
  }
  &__message{
    display: flex;
    flex-direction: row;
    grid-area: message;
    align-items: flex-start;
    padding: 0px;
    font: var(--desktop---small-regular);
    flex: 1;
    order: 1;
    //font:var(--desktop---base-medium)
  }
  &__support-action{

  }
  &__actions{
    grid-area: actions;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
  }
  &__main-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
  }
}

.c-banner-error{
  color:var(--red---red-50);
  background-color: var(--red---red-500--p);
  &.invert-true{
    background-color:var(--red---red-50);
    color: var(--red---red-500--p);
  }
}
.c-banner-warning{
  color:var(--yellow---yellow-50);
  background-color: var(--yellow---yellow-800);
  &.invert-true{
    background-color:var(--yellow---yellow-50);
    color: var(--yellow---yellow-800);
  }
}
.c-banner-success{
  color:var(--green---green-50);
  background-color: var(--green---green-800);
  &.invert-true{
    background-color:var(--green---green-50);
    color: var(--green---green-800);
  }
}
.c-banner-info{
  color:var(--blue---blue-50);
  background-color: var(--blue---blue-800);
  &.invert-true{
    background-color:var(--blue---blue-50);
    color: var(--blue---blue-800);
  }
}
.c-banner-brand{
  color:var(--brand----primary---cobalt-50);
  background-color: var(--brand----primary---cobalt-600--p);
  &.invert-true{
    background-color:var(--brand----primary---cobalt-50);
    color: var(--brand----primary---cobalt-600--p);
  }
}
