$icon-height--default: 24px;
.pf-icon{
  font-size: 2.4rem;
  height: $icon-height--default;
  width: $icon-height--default;
  &--sm{
    position: relative;
    font-size: 1.6rem;
    &:before{

    }
  }
  &--md{
    position: relative;
    font-size: 2.4rem;
  }
  &--lg{
  position: relative;
    font-size: 3.2rem;
  }
  &--xl{
    position: relative;
    height: 4rem;
    width: 4rem;
    font-size: 4rem;
    &:before{
      position: absolute;
      top: 20%;
      left: 0;
    }
  }
}

.pf-warning-icon{
  border-radius: 7rem;
  border: 8px solid var(--yellow---yellow-100) ;
  color: var(--yellow---yellow-400--p);
}


.pf-success-icon{
  border-radius: 7rem;
  border: 8px solid var(--green---green-100) ;
  color: var(--green---green-400--p);
}
