$input-height: 4rem;
.pf-input{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space--xs);
  box-sizing: border-box;
  align-self: stretch;
  padding-bottom: var(--space--md);
  &__label, label{
    display: flex;
    font: var(--desktop---x-samll-medium);
    color: var(--gray---gray-500);
  }
  &__form-field-wrapper{
    position: relative;
    width: 100%;
    &.has-prefix{
        .pf-input__form-field{
          padding: var(--space--sm) var(--space--md) var(--space--sm) var(--space--xxl);
        }
    }
    &.has-suffix{
      .pf-input__form-field{
        padding: var(--space--sm) var(--space--xxl)  var(--space--sm) var(--space--md);
      }
    }
    &.has-prefix-suffix{
      .pf-input__form-field{
        padding: var(--space--sm) var(--space--xxl)  var(--space--sm) var(--space--xxl);
      }
    }
    .prefix{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.4rem;
      width: 2.4rem;
      position: absolute;
      top: 0.778rem;
      left: 0.6rem;
      color: var(--gray---gray-600);
    }
  }
  &__form-field{
    display: flex;
    background-color: var(--mono---white);
    font: var(--desktop---base-regular);
    border: 1px solid var(--gray---gray-300);
    padding: var(--space--sm) var(--space--md);
    box-shadow: var(--shadow-sm);
    border-radius: 0.6rem;
    margin-bottom: var(--space--md);
    height: $input-height;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    &--invalid{
      border: 2px solid var(--red---red-200);
    }

    &--invalid::placeholder {
      color: var(--red---red-200);
    }

    &:focus:not(.pf-input__form-field--invalid){
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px var(--brand----primary---cobalt-600--p);
    }
    &:disabled{
      background: var(--gray---gray-100);
      color: var(--gray---gray-400);
      user-select: none;
    }

    option{
      font: var(--desktop---base-regular);
    }

  }
  &__prefix{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.4rem;
    width: 2.4rem;
    position: absolute;
    top: 2.778rem;
    left: 0.6rem;
    color: var(--gray---gray-600);
  }
  &__suffix{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.4rem;
    width: 2.4rem;
    position: absolute;
    top: 2.778rem;
    right: 0.6rem;
    color: var(--gray---gray-600);
  }
  &__text-area{
    width: 100%;
    display: flex;
    background-color: var(--mono---white);
    font: var(--desktop---base-regular);
    border: 1px solid var(--gray---gray-300);
    padding: var(--space--sm) var(--space--smd);
    box-shadow: var(--shadow-sm);
    border-radius: 0.6rem;
    margin-bottom: var(--space--md);
    //height: $input-height;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 8rem;

    &--invalid{
      border: 2px solid var(--red---red-200);
    }

    &:focus:not(.pf-input__form-field--invalid){
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px var(--brand----primary---cobalt-600--p);
    }
  }
  &__required-marker{
    color: var(--red---red-500--p);
  }


}
select.pf-input__form-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20' height='20'><path fill='none' d='M0 0h24v24H0z'/><path fill='gray' d='M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z'/></svg>");
  background-repeat: no-repeat;
  background-position-x:96%;
  background-position-y: 8px;
}
.pf-input-hint{
  position: absolute;
  bottom: 1rem;
  font: var(--desktop---x-samll-regular);
  color: var(--gray---gray-500);
}
.pf-input-error{
  position: absolute;
  bottom: 1rem;
  font: var(--desktop---x-samll-regular);
  color: var(--red---red-700);
}
.pf-select{
  position: relative;
  &__form-field{
    display: flex;
    background-color: var(--mono---white);
    font: var(--desktop---base-regular);
    border: 1px solid var(--gray---gray-300);
    padding: var(--space--sm) var(--space--smd);
    box-shadow: var(--shadow-sm);
    border-radius: 0.6rem;
    margin-bottom: var(--space--md);
    max-height: 40px;
    &:focus{
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px var(--brand----primary---cobalt-600--p);
    }

    option{
      font: var(--desktop---base-regular);
    }

  }
}
.pf-input-row{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-column-gap: var(--space--md);
}

.pf-tel-input{
  display: flex;
  flex-direction: column;
  align-self: stretch;
  &__wrapper{
    width: 100%;
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: flex-start;
    border-radius: var(--coner--xs);
    border: 1px solid var(--gray---gray-200);
    .pf-input__form-field{
      margin-bottom: 0;
      border: none;
      //border-radius: 0;
    }
  }
  &__country-code{
    padding-bottom: 0;
    margin-bottom: 0;
    min-width: 190px;
  }
  &__number{
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
   flex-grow: 1;
  }
}
