.c-menu-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  padding: var(--space--sm) var(--space--md);
  gap: var(--space--smd);
  font: var(--desktop---small-medium);
  color: var(--gray---gray-800--p);
  cursor: pointer;
  //border-radius: var(--coner--xs);
  &:hover{
    background-color: var(--gray---gray-100);
  }
  &:focus{
    background-color: var(--gray---gray-200);
  }
}
