.c-radio {
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--brand----primary---cobalt-600--p);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.c-radio-group{
  display: flex;
  flex-direction: column;
  gap: var(--space--sm);
}
.c-radio-tile-group{
  &--vertical{
    display: flex;
    flex-direction: column;
    flex: none;
    align-self: stretch;
    gap: var(--space--mlg);
    flex-grow: 0;
  }
  &--horizontal{
    display: flex;
    flex-direction: row;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    flex-wrap: wrap;
  }
}
.c-radio-tile{
  background: var(--mono---white);
  &__label{
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding:var(--space--smd) var(--space--md);
    gap:  var(--space--md);
    border: 1px solid var(--gray---gray-200);
    border-radius: var(--coner--xs);
    flex: none;
    align-self: stretch;
    flex-grow: 0;
  }
  &__image-container{
    width: 7.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space--xs);
    flex: 1;
  }
  label {
    left: var(--space--md);
  }
  &:hover{
    background-color: var(--gray---gray-100);
  }


}
