:root{
  font-size: 12px;
  --app-height: 100vh;

  --desktop---heading-1: normal 500 4rem/5.2rem 'Inter', sans-serif;;
  --desktop---heading-2:normal 500 3.6rem/4.8rem 'Inter', sans-serif;;
  --desktop---heading-3:normal 500 3.2rem/4.4rem 'Inter', sans-serif;;
  --desktop---heading-4:normal 500 2.0rem/2.8rem 'Inter', sans-serif;;
  --desktop---heading-5: normal 500 1.8rem/2.4rem 'Inter', sans-serif;;

  --desktop---base-regular:normal 300 1.6rem/2.4rem 'Inter', sans-serif;;
  --desktop---base-medium:normal 400 1.6rem/2.4rem 'Inter', sans-serif;;
  --desktop---base-semibold:normal 600 1.6rem/2.4rem 'Inter', sans-serif;;

  --desktop---small-regular:normal 300 1.4rem/2.0rem 'Inter', sans-serif;;
  --desktop---small-medium:normal 500 1.4rem/2.0rem 'Inter', sans-serif;;
  --desktop---small-semibold:normal 600 1.4rem/2.0rem 'Inter', sans-serif;;

  --desktop---x-samll-regular:normal 300 1.2rem/2rem 'Inter', sans-serif;;
  --desktop---x-samll-medium:normal 500 1.2rem/2rem 'Inter', sans-serif;;
  --desktop---x-samll-semibold:normal 600 1.2rem/2rem 'Inter', sans-serif;;


  //Brand primary color
  --brand----primary---cobalt-50: rgba(232, 241, 246, 1);
  --brand----primary---cobalt-100: rgba(199, 220, 233, 1);
  --brand----primary---cobalt-200: rgba(161, 196, 219, 1);
  --brand----primary---cobalt-300: rgba(123, 172, 205, 1);
  --brand----primary---cobalt-400: rgba(95, 155, 194, 1);
  --brand----primary---cobalt-500: rgba(67, 137, 183, 1);
  --brand----primary---cobalt-600--p: rgba(61, 129, 176, 1);
  --brand----primary---cobalt-700: rgba(52, 118, 167, 1);
  --brand----primary---cobalt-800: rgba(44, 108, 159, 1);
  --brand----primary---cobalt-900: rgba(30, 89, 144, 1);

  --brand---accent--background: linear-gradient(270deg, #F36E2A 2.17%, #FC141C 100%);
  --brand---accent--dark: linear-gradient(270deg, #b2511f 2.17%, #ce1118 100%);

  --brand----secondary---terracotta-50: rgba(255, 243, 242, 1);
  --brand----secondary---terracotta-100: rgba(253, 205, 202, 1);
  --brand----secondary---terracotta-200: rgba(249, 167, 163, 1);
  --brand----secondary---terracotta-300: rgba(242, 134, 128, 1);
  --brand----secondary---terracotta-400--p: rgba(230, 105, 98, 1);
  --brand----secondary---terracotta-500: rgba(209, 83, 76, 1);
  --brand----secondary---terracotta-600: rgba(183, 65, 58, 1);
  --brand----secondary---terracotta-700: rgba(152, 50, 44, 1);
  --brand----secondary---terracotta-800: rgba(120, 37, 33, 1);
  --brand----secondary---terracotta-900: rgba(89, 27, 24, 1);

  --gray---gray-50: rgba(249, 250, 251, 1);
  --gray---gray-100: rgba(243, 244, 246, 1);
  --gray---gray-200: rgba(229, 231, 235, 1);
  --gray---gray-300: rgba(209, 213, 219, 1);
  --gray---gray-400: rgba(156, 163, 175, 1);
  --gray---gray-500: rgba(107, 114, 128, 1);
  --gray---gray-600: rgba(75, 85, 99, 1);
  --gray---gray-700: rgba(55, 65, 81, 1);
  --gray---gray-800--p: rgba(31, 41, 55, 1);
  --gray---gray-900: rgba(17, 24, 39, 1);

  --mono---black: #041E42;
  --mono---white: rgba(255, 255, 255, 1);

  --green---green-50: rgba(238, 255, 243, 1);
  --green---green-100: rgba(190, 248, 205, 1);
  --green---green-200: rgba(143, 238, 169, 1);
  --green---green-300: rgba(103, 225, 136, 1);
  --green---green-400--p: rgba(72, 206, 108, 1);
  --green---green-500: rgba(49, 186, 85, 1);
  --green---green-600: rgba(31, 159, 65, 1);
  --green---green-700: rgba(19, 126, 48, 1);
  --green---green-800: rgba(11, 93, 33, 1);
  --green---green-900: rgba(6, 61, 21, 1);
  --yellow---yellow-50: rgba(255, 246, 236, 1);
  --yellow---yellow-100: rgba(251, 210, 161, 1);
  --yellow---yellow-200: rgba(244, 175, 90, 1);
  --yellow---yellow-300: rgba(235, 144, 32, 1);
  --yellow---yellow-400--p: rgba(221, 127, 11, 1);
  --yellow---yellow-500: rgba(202, 115, 8, 1);
  --yellow---yellow-600: rgba(178, 101, 5, 1);
  --yellow---yellow-700: rgba(150, 84, 3, 1);
  --yellow---yellow-800: rgba(120, 66, 1, 1);
  --yellow---yellow-900: rgba(92, 50, 0, 1);

  --red---red-50: rgba(255, 242, 241, 1);
  --red---red-100: rgba(255, 207, 202, 1);
  --red---red-200: rgba(255, 169, 161, 1);
  --red---red-300: rgba(255, 134, 122, 1);
  --red---red-400: rgba(255, 104, 90, 1);
  --red---red-500--p: rgba(255, 79, 63, 1);
  --red---red-600: rgba(218, 59, 45, 1);
  --red---red-700: rgba(176, 44, 32, 1);
  --red---red-800: rgba(133, 32, 23, 1);
  --red---red-900: rgba(92, 22, 16, 1);

  --blue---blue-50: rgba(237, 250, 255, 1);
  --blue---blue-100: rgba(177, 231, 250, 1);
  --blue---blue-200: rgba(121, 210, 242, 1);
  --blue---blue-300--p: rgba(73, 189, 231, 1);
  --blue---blue-400: rgba(40, 170, 217, 1);
  --blue---blue-500: rgba(17, 149, 197, 1);
  --blue---blue-600: rgba(2, 126, 171, 1);
  --blue---blue-700: rgba(0, 103, 141, 1);
  --blue---blue-800: rgba(0, 80, 109, 1);
  --blue---blue-900: rgba(0, 58, 79, 1);

  --avatar-colours---palerust: rgba(239, 105, 80, 1);
  --avatar-colours---rose: rgba(195, 0, 82, 1);
  --avatar-colours---navyblue: rgba(0, 99, 177, 1);
  --avatar-colours---violetred: rgba(136, 23, 152, 1);
  --avatar-colours---mintdark: rgba(1, 133, 116, 1);
  --avatar-colours---metalblue: rgba(81, 92, 107, 1);
  --avatar-colours---storm: rgba(76, 74, 72, 1);
  --avatar-colours---camouflage: rgba(126, 115, 95, 1);


  --shadow-sm:  0px 1px 2px rgba(0, 0, 0, 0.05);
  --shadow:  0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-md:  0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg:  0px 4px 6px rgba(0, 0, 0, 0.05), 0px 10px 15px rgba(0, 0, 0, 0.1);
  --shadow-xl:  0px 10px 10px rgba(0, 0, 0, 0.04), 0px 20px 25px rgba(0, 0, 0, 0.1);
  --shadow-2xl:  0px 25px 50px rgba(0, 0, 0, 0.25);
  --shadow-inner: inset 0px 2px 4px rgba(0, 0, 0, 0.06);

  --focus-ring--default:0px 0px 0px 4px var(--gray---gray-100);
  --focus-ring--primary:0px 1px 2px rgba(0, 0, 0, 0.05), 0px 0px 0px 2px var(--mono---white), 0px 0px 0px 4px var(--brand----primary---cobalt-600--p);
  --focus-ring--red:0px 1px 2px rgba(0, 0, 0, 0.05), 0px 0px 0px 2px var(--mono---white), 0px 0px 0px 4px var(--red---red-800);
  --focus-ring--accent:0px 1px 2px rgba(0, 0, 0, 0.05), 0px 0px 0px 2px var(--mono---white), 0px 0px 0px 4px #FC141C;

  --space--xs: 0.4rem;
  --space--sm:0.8rem;
  --space--smd:1.2rem;
  --space--md: 1.6rem;
  --space--lg: 2rem;
  --space--mlg:2.4rem;
  --space--xl: 3.2rem;
  --space--xxl:4rem;

  --coner--xs: 0.4rem;
  --coner--xsm:0.6rem;
  --coner--sm:0.8rem;
  --coner--smd:1.2rem;
  --coner--md: 1.6rem;
  --coner--lg: 2rem;
  --coner--mlg:2.4rem;
  --coner--xl: 3.2rem;
  --coner--xxl:4rem;

  --header--height: 5.6rem
}
