.rate-item{
  padding: var(--space--md) 0;
  + .rate-item{
    border-top: 1px solid var(--gray---gray-200);
  }
}
.review-items-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: var(--space--md);
  width: 100%;
  text-align: left;
}
.review-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: var(--space--md);
  align-self: stretch;
  &__title{
    flex: none;
    order: 0;
    flex-grow: 1;
    font: var(--desktop---base-regular);
  }
  &__stars{
    flex: none;
    order: 1;
    flex-grow: 0;
  }
}
.reviews-summary-box{
  text-align: center;
  align-items: center;

}
