.l-page-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  background: var(--mono---white);
  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px var(--space--md);
    box-sizing: border-box;
    align-self: stretch;
    width: 100%;
  }
  &__heading{
    display: grid;
    gap: .8rem 1.6rem;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "breadcrumbs actions"
      "title title";

    width: 100%;
    padding:  0;
    @include respond-to('x-small') {

        display: grid;
        gap: .8rem 1.6rem;
        grid-template-columns: auto 1fr;
        grid-template-areas:
        "breadcrumbs actions"
        "title title";


    }

    @include respond-to(small) {

        display: grid;
        gap: .8rem 1.6rem;
        grid-template-columns: auto 1fr;
        grid-template-areas:
        "breadcrumbs actions"
        "title title";
    }

    @include respond-to(medium) {

        display: grid;
        gap: .8rem 1.6rem;
        grid-template-columns: auto 1fr;
        grid-template-areas:
        "breadcrumbs actions"
        "title title";
    }

    @include respond-to(large) {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
      align-items: flex-start;

    }
    @include respond-to(x-large) {

        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
      align-items: flex-start;

    }
  }
  &__title-wrapper{
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
  }
  &__actions{
    grid-area: actions;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
    flex: none;
    flex-grow: 1;
  }
}

.l-page{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--space--xl) var(--space--md);
  gap: var(--space--xl);
  flex: none;
  flex-grow: 0;
}
.l-page-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  &__title-wrapper{
    display: flex;
    flex-direction: column;
    gap: var(--space--xs);
    flex: none;
    order: 0;
    flex-grow: 1;
  }
  &__actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: var(--space--md);
    flex: none;
    flex-grow: 0;
  }
  &__heading{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space--smd);
  }

}
