$table-cell-min-width: 20rem;
.l-table{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-content: flex-start;
  width: max-content;
  min-width: 100%;
  background-color: var(--mono---white);
  .cdk-row, .cdk-header-row, .cdk-footer-row {
    display: flex;
  }
  .cdk-header-cell{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--space--smd) var(--space--mlg);
    background: var(--gray---gray-50);
    text-align: left;
    text-transform: uppercase;
    border: none;
    font: var(--desktop---x-samll-medium);
    color: var(--gray---gray-500);
    flex: 1;
  }
  .cdk-cell, .cdk-footer-cell {
    text-align: left;
    padding: var(--space--md) var(--space--mlg);
    background: var(--mono---white);
    font: var(--desktop---base-regular);
    color: var(--gray---gray-800--p);
    border-bottom: 1px solid var(--gray---gray-200);
    border-collapse: collapse;
    vertical-align: top;
    flex: 1;
  }
  &__container{
    border: 1px solid var(--gray---gray-200);
    background-color: var(--mono---white);
    border-radius: var(--coner--xs);
  }
  &__wrapper{
    width: 100%;
    align-self: stretch;
    overflow: auto;

    border-radius: var(--coner--xs);
  }
}
.l-table-header{
  position: sticky;
  top: 0;
  z-index: 501;
  width: auto;
  border-bottom: 1px solid var(--gray---gray-200);
  .l-table-cell--button-cell{
    padding: var(--space--smd) var(--space--mlg);
    background: var(--gray---gray-50) !important;
  }
}
.l-table-body{}
.l-table-row{
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  + .l-table-row{
    border-top: 1px solid var(--gray---gray-200);
  }
  .l-table-cell--button-cell{
    padding: var(--space--md) var(--space--mlg);
    background: var(--mono---white);
  }
}

.l-table-header-cell{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--space--smd) var(--space--mlg);
  background: var(--gray---gray-50);
  flex: 1 1 auto;
  text-align: left;
  min-width: $table-cell-min-width;
  border: none;
  font: var(--desktop---x-samll-medium);
  color: var(--gray---gray-500);

}
.l-table-cell{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--space--md) var(--space--mlg);
  background: var(--mono---white);
  flex: 1 1 auto;
  text-align: left;
  min-width: $table-cell-min-width;
  border: none;
  font: var(--desktop---base-regular);
  .pf-input{
    width: 100%;
    padding-bottom: 0;
  }
  .pf-input__form-field{
    margin-bottom: 0;
  }
  &--button-cell{
    display: flex;
    flex-direction: row;
    align-items: center;

    flex: 1 1 auto;
    text-align: left;
    border: none;
    width: 5.6rem;
    max-width: 5.6rem;
  }

}


.l-raw-table{
  width: 100%;
  min-width: max-content;
  table-layout: auto;

  &__header-cell, th{
    text-align: left;
    padding: var(--space--sm) var(--space--mlg);
    background: var(--gray---gray-50);
    font: var(--desktop---x-samll-medium);
    color: var(--gray---gray-500);
    border-bottom: 1px solid var(--gray---gray-200);
    text-transform: uppercase;
    border-collapse: collapse;
  }
  &__cell, td{
    text-align: left;
    padding: var(--space--md) var(--space--mlg);
    background: var(--mono---white);
    font: var(--desktop---base-regular);
    color: var(--gray---gray-800--p);
    border-bottom: 1px solid var(--gray---gray-200);
    border-collapse: collapse;
    vertical-align: top;
  }
  &__checkbox-cell{
    box-sizing: border-box;
    //padding: var(--space--msm) 0 ;
    .c-checkbox__input{
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  &__button-cell{
    //display: flex;
    padding: var(--space--md) var(--space--xs);
    box-sizing: border-box;
    width: 14.8rem;
    max-width: max-content;
    white-space: nowrap;
    horiz-align: right;
  }
}

.l-table-config{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--space--md) var(--space--mlg);
  gap: 10px;
  border-bottom: 1px solid var(--gray---gray-200);
  background-color: var(--mono---white);

  &__search{
    margin-bottom: 0;
    border: none;
    box-shadow: none;
    flex: 1;
  }
  &__container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
  }
}
